.filters-comp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.filters-comp label,
.filters-comp select {
    margin-right: 10px;
}

.filters-comp select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.filters-comp select option {
    color: black;
}

.filters-comp select {
    color: #000;
}