.footer .first-div {
    display: flex;
    justify-content: center;
}

.footer .first-div button {
    padding: 5px 30px 5px 30px;
    background-color: #FFC107;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.footer {
    background-color: black;
    margin-top: auto;
}

.footer .custom-icon {
    color: white;
}

.footer .second-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer .icon:hover {
    background-color: gray;

}

.footer .icon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0px 15px 0px 15px;
}

.footer .text-icon {
    color: white;
    margin: 10px;
}

.footer .text-icon:hover {
    text-decoration: underline;
    color: white;
}

.footer .third-div,
.fourth-div,
.fifth-div,
.sixth-div {
    display: flex;
    justify-content: center;
    color: white;

}

.footer .fifth-div {
    margin: 20px;
}

.footer .sixth-div {
    font-size: 10px;
}

.footer .second-custom-icon {
    margin: 5px;
    color: white;
}