/* .navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(20, 20, 20);
    gap: 10px;

}

.navbar>div {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-div1 {
    width: 10%;
}

.navbar-div2 {
    width: 60%;
}

.navbar-div3 {
    width: 20%;
}

.navbar img {
    max-height: 40px;
    width: auto;
}

.navbar input[type="text"] {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.navbar button,
.navbar select {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #d9a614;
}



.navbar .imdb-button {
    background-color: #F5C518;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.navbar .imdb-button:hover {
    cursor: auto;
    background-color: #F5C518;
} */
.navbar {
    display: flex;
    padding: 10px 20px;
    background-color: rgb(20, 20, 20);
    gap: 10px;
}


.navbar>div {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-div1 {
    width: 10%;
}

.navbar-div2 {
    width: 60%;
}


.navbar img {
    max-height: 40px;
    width: auto;
    border-radius: 50%;
}

.navbar input[type="text"] {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.navbar button,
.navbar select {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #d9a614;
}



.navbar .imdb-button {
    background-color: #F5C518;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.navbar .imdb-button:hover {
    cursor: auto;
    background-color: #F5C518;
}

@media only screen and (max-width: 768px) {
    .navbar .imdb-button {
        font-size: 15px;
    }
}